<app-navbar></app-navbar>
<div id="content">
    <section class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1 class="fw-bold text-dark mb-4">Agregar Platos</h1>
            <div class="col-12 col-md-10">
                <div class="card-body text-light">
                    <form [formGroup]="addPlatoForm" (ngSubmit)="addPlato()">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" formControlName="nombre" placeholder="Name Example"
                                title="Por favor ingrese el nombre del plato" class="form-control" />
                            <div *ngIf="addPlatoForm.get('nombre')?.hasError('required') && addPlatoForm.get('nombre')?.touched"
                                class="text-danger mt-1">
                                <span>El nombre <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!addPlatoForm.get('nombre')?.hasError('required') && addPlatoForm.get('nombre')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="ingredientes" class="form-label">Ingredientes</label>
                            <input type="text" id="ingredientes" formControlName="ingredientes" placeholder="Name Example"
                                title="Por favor ingrese los ingredientes del plato" class="form-control" />
                            <div *ngIf="addPlatoForm.get('ingredientes')?.hasError('required') && addPlatoForm.get('ingredientes')?.touched"
                                class="text-danger mt-1">
                                <span>Los ingredientes <strong>son obligatorios</strong></span>
                            </div>
                            <div *ngIf="!addPlatoForm.get('ingredientes')?.hasError('required') && addPlatoForm.get('ingredientes')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" id="precio" formControlName="precio" placeholder="99999999"
                                title="Por favor ingrese el precio" class="form-control" />
                            <div *ngIf="addPlatoForm.get('precio')?.hasError('required') && addPlatoForm.get('precio')?.touched"
                                class="text-danger mt-1">
                                <span>El Precio <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!addPlatoForm.get('precio')?.hasError('required') && addPlatoForm.get('precio')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen</label>
                            <input type="file" id="imagen" (change)="onFileSelect($event)" class="form-control" />
                            <div *ngIf="imagePreview">
                                <p class="mt-2">Vista previa de la imagen:</p>
                                <img [src]="imagePreview" alt="Vista previa" class="img-thumbnail mt-2" style="max-width: 200px;" />
                            </div>
                            <div *ngIf="!imagePreview && addPlatoForm.get('imagen')?.touched" class="text-danger mt-1">
                                <span>Por favor, seleccione una imagen.</span>
                            </div>
                        </div>

                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>

                        <div class="d-flex justify-content-start">
                            <button class="btn btn-warning" type="submit"
                                [disabled]="addPlatoForm.invalid">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer />