<app-navbar></app-navbar>

<div id="content">
    <!-- Hero Section -->
    <div class="hero" style="background: #f0da8e no-repeat center center/cover; color: #fefefe; height: 60vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); text-align: center;">
        <h1 class="display-3 fw-bold">¡Descubre Tagliatore!</h1>
        <p class="lead">La excelencia de la auténtica cocina italiana te espera.</p>
    </div>

    <!-- Sección de bienvenida -->
    <div class="container mt-5 d-flex flex-column align-items-center">
        <div class="col-md-8 text-center">
            <h2 class="text-dark mb-4" style="font-size: 2rem;">¿Quiénes Somos?</h2>
            <p class="lead text-dark">
                En <strong>Tagliatore</strong>, combinamos la esencia de las tradiciones culinarias italianas
                con un toque contemporáneo. Nuestros chefs seleccionan cuidadosamente cada ingrediente, desde las
                pastas artesanales hasta nuestras pizzas horneadas a la perfección.
            </p>
            <p class="text-dark">
                Vive una experiencia inolvidable con nuestros vinos italianos exclusivos, diseñados para
                realzar el sabor de cada bocado.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>
